version: 2
updates:
  - package-ecosystem: github-actions
    directory: "/"
    schedule:
      interval: weekly
      time: "04:00"
      timezone: US/Eastern
  - package-ecosystem: npm
    directory: "/"
    schedule:
      interval: weekly
      time: "04:00"
      timezone: US/Eastern
    open-pull-requests-limit: 5
    versioning-strategy: increase
