{
	"ecmaFeatures": {
		"jsx": true,
		"experimentalObjectRestSpread": true,
	},
	"parserOptions": {
		"ecmaVersion": 6,
		"sourceType": "module",
		"ecmaFeatures": {
			"jsx": true,
		},
	},
	"rules": {
		"@typescript-eslint/sort-type-constituents": "warn",
		"sort-keys": "warn",
	},
	"plugins": [
		"@typescript-eslint",
	],
}