new/*
.DS_Store
node_modules/
ISY*Dump.json
ISYStatusDump.json
ISYNodeInfo.xml
ISYNodes.json
ISYNodes.xml
.vscode
CLI/resources/*
**/resources_old/*
**/*.tsbuildinfo
*.log
tools/codegen/codegen.log
tools/codegen/defgen.log
